:root {
  --gray--100: #f4f3f1;
  --gray--500: #474644;
  --gold--600: #9c7f45;
  --gray--300: #aba9a6;
  --gray--700: #1f1e1d;
  --gray--900: #10100f;
  --gray--50: #fffffe;
  --gold--700: #6f5012;
}

body {
  background-color: var(--gray--100);
  color: var(--gray--500);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: contain;
  border-radius: 8px;
  max-width: 100%;
  transition: all .2s cubic-bezier(.645, .045, .355, 1);
  display: inline-block;
}

img:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 7px rgba(0, 0, 0, .12);
}

strong {
  color: var(--gold--600);
  font-weight: 500;
}

figure {
  margin-bottom: 10px;
}

figcaption {
  color: var(--gray--300);
  text-align: left;
  margin-top: 5px;
  font-size: 13px;
}

.site-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}

.logo {
  position: relative;
}

.content {
  max-width: 32rem;
}

.page-grid {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  height: 100vh;
  padding: 4rem;
  display: grid;
}

.navigation {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.logo_link.w--current:hover {
  color: var(--gray--700);
}

.logo_link.w--current:active {
  color: var(--gold--600);
}

.menu {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.menu-item {
  list-style-type: none;
}

.navigation-wrapper {
  position: relative;
}

.content-grid {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.content-grid.force-flex {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.password-form-wrapper {
  justify-content: center;
  align-items: center;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
}

.image {
  margin-bottom: 2rem;
}

.form-inner {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.button {
  background-color: var(--gray--500);
  border-radius: .5rem;
  min-height: 2.5rem;
  padding: .5rem 1rem;
  transition: all .2s cubic-bezier(.645, .045, .355, 1);
}

.button:hover {
  background-color: var(--gray--700);
}

.button:active {
  background-color: var(--gray--900);
}

.button:focus {
  box-shadow: 0 3px 7px rgba(0, 0, 0, .2);
}

.input {
  border: 1px solid var(--gray--100);
  background-color: var(--gray--50);
  border-radius: .5rem;
  min-height: 2.5rem;
  margin-bottom: 0;
  padding: .5rem 1rem;
}

.input:hover {
  border-color: var(--gray--300);
}

.input:focus {
  border-color: var(--gray--500);
}

.input.is-short {
  max-width: 16rem;
}

.fieldset.with-button {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.label {
  font-weight: 600;
}

.space-md {
  height: 2rem;
}

.content-entry {
  margin-bottom: 4rem;
}

.space-lg {
  height: 4rem;
}

.mosaic {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.mosaic-img1, .mosaic-img2, .mosaic-img3, .image-2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.link-back {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon-embed-xxsmall {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.text-sm {
  font-size: 13px;
}

.content-backlink {
  margin-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .page-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 2rem;
  }

  .navigation {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }

  .content-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  figure {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  figcaption {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .page-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    height: auto;
    padding: 0;
    display: flex;
  }

  .navigation {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    height: auto;
    padding: 2rem 2px 1.5rem 1.5rem;
    position: relative;
  }

  .content-wrapper {
    padding-bottom: 2rem;
  }

  .content-grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .mosaic {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .content-backlink {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

#w-node-c1fbb714-64a6-16a7-aa00-c70be5b26008-e2f98eb0 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_5c578a6b-5233-0bdd-b424-c66e8e657818-e2f98eb0 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_312f749e-77ad-b4cc-742a-b2f1f59df75c-e2f98eb0 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_08f10e83-c6b3-f5c6-2250-b5fe7814ff7d-94a602a9 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_08f10e83-c6b3-f5c6-2250-b5fe7814ff91-94a602a9 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-c1fbb714-64a6-16a7-aa00-c70be5b26008-31d3de94 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_5c578a6b-5233-0bdd-b424-c66e8e657818-31d3de94 {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_44fd0472-2c4f-5c9e-b5ea-5949569fbd94-31d3de94 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_85ea0009-f72a-09f1-dadd-18146e4f0442-31d3de94 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}

#w-node-_2f7ca38c-b696-2ed2-2600-da8651afb3d9-31d3de94 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_89afa5a3-6a94-9506-1f9b-61b6369a23bf-31d3de94 {
  grid-area: span 2 / span 2 / span 2 / span 2;
}

@media screen and (max-width: 479px) {
  #w-node-_81abeb87-643b-37bd-008c-66b9bbdbf92b-31d3de94, #w-node-ea737e4c-3422-e1b4-f73b-90a347f14113-31d3de94 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_734f1461-2529-b43f-fb96-efb114d02ec8-31d3de94 {
    grid-area: span 1 / span 3 / span 1 / span 3;
  }
}
